.simple{
    width: 13%;
    margin-top: 1rem;
}
@media only screen and (max-width: 600px) 
{
    .simple
    {
        width: 30%;
  margin-top: 1rem;
    }
}

.text{
  margin-left: 6rem;
  margin-top: -5rem;
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .text{
        /* width: 14rem; */
        margin-left: 8rem;
  /* margin-top: -6rem; */
  color: #fff;
    }
}
.grade{
        background-image: linear-gradient(to right, rgb(11, 11, 134),rgb(90, 223, 90));

}
@media only screen and (max-width: 600px) {
    .grade {
        /* width: 25rem; */
        margin-left: 0rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .col-6
  {
    max-width: 58%;
    flex: 0 0 50%;
  }

  }
  
  .container-fluid {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
  }
  .heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
  }
  .one{
    padding: 20px;
  }